<template>
    <TTSModal v-show="showModal" @close="closeClicked" :width="600" :backgroundColor="'F2F2F2'">
        <div slot="header" class="list-header flex">
            <div>
                <h3>목소리 추가하기</h3>
            </div>
            <div style="margin-left: auto;">
                <button type="button" class="btn btn-info btn-sm" @click="sectionClicked">
                    <i class="fa fa-edit"></i> 선택
                </button>
                 <button type="button" class="btn btn-danger btn-sm" @click="closeClicked">
                    <i class="fa fa-close"></i> 닫기
                </button>
            </div>
        </div>
        <ul class="ibox-content list-wrapper" slot="body">
            <li class="speaker-row" 
                v-for="(speaker, index) in speakers" 
                :key="speaker.speakerId" 
                :index="index" >
                <ChoiceSpeakerPopupViewItem 
                    :index="index"
                    :selected="selectionRowIndex == index"
                    :speaker="speaker"
                    @notify:playVoiceSample="handlerNotifyPlayVoiceSample"
                    @notify:selectionIndex="handlerNotifySelectionIndex">
                </ChoiceSpeakerPopupViewItem>
                    
            </li>
        </ul>
        <div slot="footer"></div>
    </TTSModal>
</template>

<script>

import Vue from "vue";
import { mapState, mapGetters, mapActions } from 'vuex';

import TTSModal from '@/components/common/TTSModal';
import ChoiceSpeakerPopupViewItem from './ChoiceSpeakerPopupViewItem';
export default {
    components: {
        TTSModal, ChoiceSpeakerPopupViewItem, 
    },
    data() {
        return {
            audio: new Audio(),
            selectionRowIndex: -1,
        }
    },
    props: {
        showModal: {
            type: Boolean,
            default: false
        },
    },
    computed: {
        ...mapState('speaker', {
            speakers : 'speakers',
        })
    },
    methods: {
        handlerNotifyPlayVoiceSample(sampleUrl) {
            this.audio.pause();
            this.audio.src = sampleUrl;
            this.audio.load();
            this.audio.play();
        },
        handlerNotifySelectionIndex(index) {
            if(this.selectionRowIndex == index) {
                this.clearSelectionRowIndex();
            }else {
                this.selectionRowIndex = index;
            }
        },
        sectionClicked() {
            if(this.selectionRowIndex == -1) {
                alert("화자를 선택해주시기 바랍니다.")
                return;
            }
            this.$emit('popup:notifyJobSpeakerSelectionRowIndex', this.selectionRowIndex);
            this.clearSelectionRowIndex();
            this.closeClicked();
        },
        closeClicked() {
            this.audio.pause();
            this.$emit('popup:notifyClosed');
        },
        clearSelectionRowIndex() {
            this.selectionRowIndex = -1;
        }
    },
}
</script>

<style lang="scss" scoped>
@import '~styles/font-awesome';
@import '~styles/animate';

.list-header h3 {
    font-size: 20px;
    font-weight: 600;
}
.list-header > div:last-child {
    margin-left: auto;
}
.list-wrapper {
    list-style:none;
    height: 100vh;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 540x;
    height: 300px; 
    overflow: auto;
}
.list-wrapper li {
    width: 50%;
    float:left;
}

.ibox-content {
    color: inherit;
}
</style>