<template>
    <div class="speaker-box" @click="rowClicked" :class="computedRowClasses">
        <div class="col-sm-5 face">
            <SpeakerFace :imgUrl="speaker.imgUrl" :index="this.index" :disabledCircleBorderColor="true"></SpeakerFace>
            
            <span class="sampleVoice" v-if="hasVoiceSample(speaker)" @click="samplePlayClicked(speaker)">  
                <i class="fa fa-volume-up" ></i>
            </span>
            
        </div>
        <div class="col-sm-6 content">
            <em>{{speaker.speakerNm}}</em>
            <small>{{speaker.speakerDesc}}</small>
        </div>
    </div>
</template>

<script>

import Vue from "vue";
import { mapState, mapGetters, mapActions } from 'vuex';

import TTSModal from '@/components/common/TTSModal';
import SpeakerFace from '@/components/speaker/SpeakerFace';
export default {
    components: {
        TTSModal, SpeakerFace,
    },
    props: {
        speaker:{
            type: Object,
            default : {}
        },
        selected: {
            type: Boolean,
            default: false
        },
        index: {
            type: Number,
            default: -1,
        }
    },
    computed: {
        computedRowClasses() {
            return { 
                selected : this.selected
            }
        }
    },
    methods: {
        rowClicked() {
            this.$emit('notify:selectionIndex', this.index);
        },
        hasVoiceSample(speaker) {
            return speaker.voiceSampleUrl != '' && speaker.voiceSampleUrl != undefined && speaker.voiceSampleUrl != null;
        },
        samplePlayClicked(speaker) {
            this.$emit('notify:playVoiceSample', require(`@/assets/voiceSample/${speaker.voiceSampleUrl}`));
        },
        
    },
}
</script>

<style lang="scss" scoped>
@import '~styles/font-awesome';
@import '~styles/animate';

.speaker-box {
    background-color: #ffffff;
    border: 1px solid #637c94;
    border-radius: 10px;
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:5px;
    cursor:pointer;
}
.speaker-box:hover { 
    background-color:#e2e2e2;
}
.selected {
  background-color: #bababa;
}

.speaker-box > div {
     display: flex;
     flex-direction: column;
     flex-basis: 100%;
     flex: 1;
}
.speaker-box .face { 
    padding: 0;
}
.content em {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    display: block;
    text-align: left;
    color:#000000;
}
.content small {
    display: block;
    text-align: left;
}
.sampleVoice {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 1px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background: rgba(47,64,80, 0.7);
    border: 1px solid white;
    cursor:pointer;
    position:absolute;
}
.sampleVoice:hover {
    background: rgba(47,64,80, 1.0);
}
</style>