<template>
    <TTSModal v-show="showModal" @close="closeClicked" :width="600" :backgroundColor="'F2F2F2'">
        <div slot="header" class="list-header flex">
            <div>
                <h3>작업을 불러오시겠습니까?</h3>
            </div>
            <div style="margin-left: auto;">
                
            </div>
        </div>
        <div class="ibox-content" slot="body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>작업명</th>
                    <th>저장일시</th>
                </tr>
                </thead>
                <tbody>
                <JobListPopupViewItem 
                    v-for="(job, index) in jobList" 
                    :key="job.jobId"
                    :index="index"
                    :job="job"
                    :selected="selectionRowIndex == index"
                    @notify:selectionRowIndex="handlerNotifySelectionRowIndex">
                </JobListPopupViewItem>
                </tbody>
            </table>
        </div>
        <div slot="footer">
            <button type="button" class="btn btn-danger btn-sm" @click="closeClicked">
                <i class="fa fa-close"></i> 취소
            </button>
            <button type="button" class="btn btn-success btn-sm" @click="sectionClicked">
                <i class="fa fa-upload"></i> 불러오기
            </button>
        </div>
    </TTSModal>
</template>

<script>
import { mapState } from 'vuex';
import TTSModal from '@/components/common/TTSModal';
import JobListPopupViewItem from './JobListPopupViewItem';
export default {
    components: {
        TTSModal, JobListPopupViewItem,
    },
    props: {
        showModal: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            selectionRowIndex: -1,
        }
    },
    computed: {
        ...mapState('job', {
            jobList : 'jobList',
        }),
    },
    methods: {
        sectionClicked() {
            if(this.selectionRowIndex == -1) {
                alert("작업을 선택해주시기 바랍니다.")
                return;
            }
             this.$emit('popup:notifyJobSelectionRowIndex', this.selectionRowIndex);
             this.clearSelectionRowIndex();
             this.closeClicked();
        },
        closeClicked() {
            this.$emit('popup:notifyClosed');
        },
        clearSelectionRowIndex() {
            this.selectionRowIndex = -1;
        },

        handlerNotifySelectionRowIndex(index) {
            if(this.selectionRowIndex == index) {
                this.clearSelectionRowIndex();
            }else {
                this.selectionRowIndex = index;
            }
        },
    },
}
</script>

<style lang="scss" scoped>
@import '~styles/font-awesome';
@import '~styles/animate';

.ibox-content {
    color: inherit;
}
.table-hover {
    tbody tr {
        cursor:pointer;
    }
    tbody tr:hover {
        color:black;
        font-weight: 600;
        background-color: #bababa;
    }
}

</style>