<template>
    <tr @click="rowClicked(index)" :class="computedRowClasses">
        <td>{{index +1}}</td>
        <td>{{job.jobTitle}}</td>
        <td>{{job.updatedAt}}</td>
    </tr>
</template>

<script>
import Vue from "vue";
export default {
    props: {
        index: {
            type: Number,
            default: -1,
        },
        job:{
            type: Object,
            default : {}
        },
        selected: {
            type: Boolean,
            default: false
        },
    },
    computed: {
      computedRowClasses() {
            return { 
                selected : this.selected
            }
        }
    },
    methods: {
        rowClicked() {
            this.$emit('notify:selectionRowIndex', this.index);
        },
    },
}
</script>

<style lang="scss" scoped>
@import '~styles/font-awesome';
@import '~styles/animate';

.selected {
  background-color: #bababa;
}
</style>