<template>
    <TTSModal v-show="showModal" @close="closeClicked" :width="500" :backgroundColor="'F2F2F2'">
        <div slot="header" class="list-header">
            <h3>새 작업을 시작하시겠습니까?</h3>
        </div>
        <div class="ibox-content" slot="body">
            <em>새 작업을 시작하면 저장되지 않은 작업이 사라집니다.</em>
        </div>
        <div slot="footer">
            <button type="button" class="btn btn-info btn-sm" @click="newJobClicked">
                <i class="fa fa-edit"></i> 새작업
            </button>
            <button type="button" class="btn btn-danger btn-sm" @click="closeClicked">
                <i class="fa fa-close"></i> 취소
            </button>
        </div>
    </TTSModal>
</template>

<script>

import Vue from "vue";
import { mapState, mapGetters, mapActions } from 'vuex';

import virtualList from '@/components/common/virtualList';
import TTSModal from '@/components/common/TTSModal';
import SpeakerFace from '@/components/speaker/SpeakerFace';
export default {
    components: {
        virtualList, TTSModal, SpeakerFace,
    },
    props: {
        showModal: {
            type: Boolean,
            default: false
        },
    },
    computed: {
        ...mapState('speaker', {
            speakers : 'speakers',
            choiceSpeakers : 'choiceSpeakers',
      }),
    },
    methods: {
        newJobClicked() {
            this.$emit('popup:notifyNewJobContent');
            this.closeClicked();
        },

        closeClicked() {
            this.$emit('popup:notifyClosed');
        }
    },
}
</script>

<style lang="scss" scoped>
@import '~styles/font-awesome';
@import '~styles/animate';

.ibox-content {
    color: inherit;
    padding: 20px;
}
.ibox-content em {
    font-size: 14px;
    //font-weight: 600;
    font-style: normal;
    display: block;
    text-align: left;
    color:#000000;
}
</style>