<template>
    <div class="feed-element">
        <TTSEditFace 
            :script="script"
            :isPlaying="isPlaying" 
            @notify:playScriptClicked="handlerPlayScriptClicked">
        </TTSEditFace>

        <div class="input-group-wrapper">
            <TTSEditTextarea 
                :class="{ 'ttsInput' : !isPlaying, 'playing' : isPlaying }"
                :value="script.scriptText"
                :rowIdx="index" 
                :highlight="isPlaying"
                ref="edit"
                @input="handlerInputChanged"
                @text:cursorSplit="handlerTextCursorSplit"  
                @text:selectionSplit="handlerTextSelectionSplit" 
                @keydown:altEnter="handlerKeydownAltEnter"
                @keydown:backspace="handlerKeydownBackSpace"
                 />
            <TTSEditButton :icon="'trash'" :horizon="'right'" :group="true" @notify:clicked="handlerRemoveScript" />
            <TTSEditButton :icon="'wrench'" :horizon="'right'" :group="true" @notify:clicked="handlerSettingsScript" />
        </div>
        <EditAudioControlBar v-if="exposeSettingsBar" :settings="script.settings" />
    </div>
</template>

<script>
import Vue from "vue";
import { mapState, mapGetters, mapActions } from 'vuex'

import TTSEditFace from '@/components/common/TTSEditFace';
import TTSEditTextarea from '@/components/common/TTSEditTextarea';
import TTSEditButton from '@/components/common/TTSEditButton';

import VuejsDialog from 'vuejs-dialog';
import VuejsDialogMixin from 'vuejs-dialog/dist/vuejs-dialog-mixin.min.js'; // only needed in custom components

// include the default style
import 'vuejs-dialog/dist/vuejs-dialog.min.css';

Vue.use(VuejsDialog);

import EditAudioControlBar from './EditAudioControlBar';

import { RepositoryFactory } from '@/repositories/RepositoryFactory';
const JobRepository = RepositoryFactory.get('job');

export default {
    components : { TTSEditFace, TTSEditTextarea, TTSEditButton,  EditAudioControlBar },
    props: {
        // 스크립트 Array의 index 
        index : {
            type : [Number],
        }
    },
    data() {
        return {
            AvatarSize: '40px'
        }
    },
    computed: {
         //script module store
        ...mapState('job', {
            jobId: 'jobId',               // JOB ID
            jobScripts: 'jobScripts',     // JOB Script List
            jobSpeakers: 'jobSpeakers',   // JOB Speaker List
        }),

        //speaker module store
        ...mapState('speaker', {
            selectedSpeakerIndex : 'selectedSpeakerIndex',  // 선택된 화자 index(미선택시 -1, 선택시 0....n)
        }),

        //player module store
        ...mapState('player', {
            cursor : 'cursor',      // 커서 정보
        }),

        //화자 정보 조회 getter caller
        ...mapGetters('job', {
            getJobSpeaker: 'getJobSpeaker',
        }),
        // 해당 스크립트 정보
        script() {
            return this.jobScripts[this.index];
        },
        // script의 해당하는 스피커 정보 computed 필드
        speaker() {
            return this.getJobSpeaker(this.script.speakerId);
        },
        // 재생 여부
        isPlaying() {
            return this.index == this.cursor;
        },
        // setting Bar 노출 여부(settings key length 가 0보다 클경우 노출)
        exposeSettingsBar() {
            const settings = this.script.settings || {};
            return Object.entries(settings).length > 0 && settings.constructor === Object;
        },
    },
    methods: {        
        ...mapActions('job', {
            updateAtScriptText: 'updateAtScriptText',           // 변경 텍스트 업데이트 처리 - Action caller
            updateAtScriptSpeaker: 'updateAtScriptSpeaker',     // 기존 화자 화자 업데이트 처리 - Action caller
            insertAtSplitScripts : 'insertAtSplitScripts',      // 분리된 스크립트 특정 인덱스 삽입 처리 - Action caller
            insertAtCreateScript : 'insertAtCreateScript',                  // 신규 스크립트 생성 처리(alt+enter) - Action caller 
            removeAtScript : 'removeAtScript',                  // 스크립트 삭제 처리 - Action caller
            mergeAtScript : 'mergeAtScript',                    // 스크립트 병합 처리 - Action caller
        }),
        ...mapActions('player', {
            forceChangeTrack : 'forceChangeTrack',    // 스크립트 재생 변경 처리 - Action caller
        }),

        // 마우스 드래그 기반 스크립트 분리 callback Event
        handlerTextSelectionSplit({splitContent}) {
            const vm = this;
            let confirmMessage = '선택한 문구를 분리하시겠습니까?';
            this.$dialog.confirm(confirmMessage)
            .then(() => {

                // 1. 해당 스크립트의 화자를 기본으로 스크립트를 할당하며,
                // 2. 만약 선택된 화자가 있는경우 선택된 화자로 할당
                const { speakerId, voiceName } = vm.speaker;
                let isChangeSpeaker = false;
                let changeSpeakerId, changeVoiceName
                let changeScriptId;
                if(vm.selectedSpeakerIndex > -1) {
                    const changeSpeaker = vm.jobSpeakers[vm.selectedSpeakerIndex];
                    changeSpeakerId = changeSpeaker.speakerId;
                    changeVoiceName = changeSpeaker.voiceName;
                    isChangeSpeaker = true;
                }

                splitContent.forEach((item, index) => {
                    Object.assign(item, { 'speakerId' : speakerId, 'voiceName' : voiceName });
                    if("select".indexOf(item.type) > -1 && isChangeSpeaker) {
                        Object.assign(item, { 'speakerId' : changeSpeakerId, 'voiceName' : changeVoiceName });
                    }
                });

                // 분리된 스크립트를 삽입하고자하는 인덱스로 스크립트 insert
                vm.insertAtSplitScripts({ index : vm.index,  splitScripts : splitContent }).then(focusScriptId => {
                    // 분리후 해당 스크립트로 focus 처리
                    vm.handlerSetFocusFromRefs(focusScriptId);
                })
            })
            .catch(error => {
                console.log(error)
                console.log('Clicked on cancel')
            });
        },
        // 커서 기반 스크립트 분리 callback Event
        handlerTextCursorSplit({splitContent}) {
            const vm = this;
            let confirmMessage = '선택한 문구를 분리하시겠습니까?';
            this.$dialog.confirm(confirmMessage)
            .then(() => {
                const { speakerId, voiceName } = vm.speaker;
                splitContent.forEach((item, index) => {
                    Object.assign(item, { 'speakerId' : speakerId, 'voiceName' : voiceName });
                });

                // 분리된 스크립트 특정 인덱스 삽입 처리
                vm.insertAtSplitScripts({index : vm.index,  splitScripts : splitContent }).then(focusScriptId => {
                    // 분리후 해당 스크립트로 focus 처리
                    vm.handlerSetFocusFromRefs(focusScriptId, 0);
                })
            })
            .catch(error => {
                //console.log(error)
                console.log('Clicked on cancel')
            });
        },
        // textarea 변경 callback event
        handlerInputChanged(value) {
            const jobId = this.jobId;
            const jobScript = this.jobScripts[this.index];
            const jobScriptId = jobScript.scriptId;
            this.updateAtScriptText({ 'index' : this.index, 'scriptText' : value }).then(()=> {
                JobRepository.updateJobScript(jobId, jobScriptId, jobScript);
            })
        },
        handlerInputChangedForIndex(value, inputIndex) {
            const jobId = this.jobId;
            const jobScript = this.jobScripts[inputIndex];
            const jobScriptId = jobScript.scriptId;
            this.updateAtScriptText({ 'index' : inputIndex, 'scriptText' : value }).then(()=> {
                JobRepository.updateJobScript(jobId, jobScriptId, jobScript);
            })
        },
        // 백스페이스 처리 callback event
        handlerKeydownBackSpace({evt, position}) {
            
            // 스크립트(index = 0) 이면서, 커서 위치가 0인경우만 이벤트 처리
            if(this.index >  0 && position == 0) {
                evt.preventDefault();
                const prevScript = this.jobScripts[this.index -1]; // 이전 스크립트 
                const currScript = this.jobScripts[this.index];    // 현재 스크립트
                const selectionRange = prevScript.scriptText.length;  // 이전 스크립트 position 위치
                
                // 현재 스크립트와 이전 스크립트 merge 처리 
                this.mergeAtScript({index : this.index, prevScript, currScript}).then(scriptId => {
                    // merge 후 해당 스크립트로 focus 처리
                    this.handlerSetFocusFromRefs(scriptId, selectionRange);
                });
            }
        },
        // 신규 스크립트 생성 처리(alt+enter) callback event
        handlerKeydownAltEnter(evt) {
            //console.log("alt + enter");

            // 1. 해당 스크립트의 화자를 기본으로 스크립트를 할당하며,
            // 2. 만약 선택된 화자가 있는경우 선택된 화자로 할당
            const vm = this;
            const { speakerId, voiceName } = this.speaker;
            let addScript = {'speakerId' : speakerId, 'voiceName' : voiceName };
            let isChangeSpeaker = false;
            let changeSpeakerId, changeVoiceName
            if(this.selectedSpeakerIndex > -1) {
                const changeSpeaker = this.jobSpeakers[this.selectedSpeakerIndex];
                changeSpeakerId = changeSpeaker.speakerId;
                changeVoiceName = changeSpeaker.voiceName;
                addScript = {'speakerId' : changeSpeakerId, 'voiceName' : changeVoiceName };
            }

            const insertIndex = this.index+1;
            this.insertAtCreateScript({index : insertIndex,  data : addScript}).then(({script}) => {
                // 분리후 해당 스크립트로 focus 처리
                vm.handlerSetFocusFromRefs(script.scriptId);
            });
            //console.log("speakerId : " + speakerId + ", voiceName : " + voiceName );
        },
        // 스크립트 삭제 처리 clicked event
        handlerRemoveScript() {
            if(this.jobScripts.length == 1) {
                alert('더 이상 삭제할 수 없습니다.');
            }else{
                const text = this.script.scriptText;
                const scriptId = this.script.scriptId;
                if(text.length > 0) {
                    let confirmMessage = '음성이 사라집니다. 정말 삭제하시겠습니까?';
                    this.$dialog.confirm(confirmMessage)
                    .then(() => {
                        this.removeAtScript(this.index);
                    })
                    .catch(error => {
                        console.log('Clicked on cancel')
                    });
                } else {
                    this.removeAtScript(this.index);
                }
            }
        }, 
        // 음성 제어 clicked event
        handlerSettingsScript() {
            alert('음성 제어 기능 추후 구현');
        },
        // insert, merge, split text 등 script focus 처리 
        handlerSetFocusFromRefs(scriptId, selectionRange) {
            //console.log("events:setFocusFromRefs(handlerSetFocusFromRefs) ::: ", scriptId);
            const vm = this;
            this.$nextTick(() => {
                //console.log("events:setFocusFromRefs(handlerSetFocusFromRefs) nextTick ::: ", scriptId);
                let textareaRefs = vm.$parent.$parent.$refs['jobScripts_' + scriptId][0];
                textareaRefs.$refs.edit.setFocus(selectionRange);
            });
        },

        // 플레이 가능 스크립트를 재생하는 clicked event
        async handlerPlayScriptClicked(isPlayEnable) {
            const vm = this;
            // 화자 선택한 경우
            if(this.selectedSpeakerIndex > -1) {
                // 1. 해당 스크립트의 화자를 기본으로 스크립트를 할당하며,
                // 2. 만약 선택된 화자가 있는경우 선택된 화자로 할당
                const { speakerId, voiceName } = this.speaker;
                const changeSpeaker = this.jobSpeakers[this.selectedSpeakerIndex];
                let changeSpeakerId = changeSpeaker.speakerId;
                let changeVoiceName = changeSpeaker.voiceName;

                if(speakerId !== changeSpeakerId) {
                    //console.log(`current speakerId=${speakerId}, voiceName=${voiceName}`);
                    //console.log(`change speakerId=${changeSpeakerId}, voiceName=${changeVoiceName}`);
                    await this.updateAtScriptSpeaker({ index: this.index, changeSpeakerId: changeSpeakerId, changeVoiceName: changeVoiceName  })
                    // Redis Update
                    this.$nextTick(() => {
                        const jobScript = vm.jobScripts[this.index];
                        JobRepository.updateJobScript(vm.jobId, jobScript.scriptId, jobScript);
                    });
                }
            }else {
                // 화자 선택 하지 않은 경우[스크립트 TTS요청 및 재생]
                this.forceChangeTrack({ cursor: this.index, needForConvert: !isPlayEnable });
            }
        }
    }
};
</script>

<style lang="scss" scoped>
    @import '~styles/animate';
    @import '~styles/speakers';
    
</style>