<template>
    <div>
        <ul class="jobbar jobbar-right">
            <li>
                <button type="button" class="btn btn-info btn-sm" @click="jobNewClicked">
                    <i class="fa fa-edit"></i> 새작업
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-success btn-sm" @click="jobListLoadClicked">
                    <i class="fa fa-upload"></i> 불러오기
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-primary btn-sm" @click="jobSaveClicked">
                    <i class="fa fa-save"></i> 작업저장
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-warning btn-sm" @click="getWeatherClicked">
                    <i class="fa fa-master"></i> 일기예보
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-warning btn-sm"  @click="jobDownloadClicked">
                    <i class="fa fa-download"></i> 다운로드
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-send btn-sm" @click="jobSendCliked">
                    <i class="fa"></i> 보내기
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-success btn-sm" @click="master" v-if="masterUser">
                    <i class="fa fa-master"></i> 가입승인
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-info btn-sm" @click="getLogClicked">
                    <i class="fa fa-master"></i> 로그
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-info btn-sm" @click="logout">
                    <i class="fa fa-logout"></i> 로그아웃
                </button>
            </li>
        </ul>
        <JobSavePopupView
            :showModal="showJobSaveModal"
            @popup:notifySaveAsJobContent="handlerPopupNotifySaveAsJobContent"
            @popup:notifyClosed="showJobSaveModal = false" 
        />
        
        <JobListPopupView 
            :showModal="showJobListModal" 
            @popup:notifyJobSelectionRowIndex="handlerPopupNotifyJobSelectionRowIndex"
            @popup:notifyClosed="showJobListModal = false" 
        />
        <JobNewPopupView 
            :showModal="showJobNewModal" 
            @popup:notifyNewJobContent="handlerPopupNotifyNewJobContent"
            @popup:notifyClosed="showJobNewModal = false"
        />
        <JobSendPopupView
            :showModal="showJobSendModal"
            @popup:notifySendAsJobContent="handlerPopupNotifySendAsJobContent"
            @popup:notifyClosed="showJobSendModal = false"
        />
        <JobDownloadPopupView
            :showModal="showJobDownloadModal"
            @popup:notifyDownloadAsJobContent="handlerPopupNotifyDownloadAsJobContent"
            @popup:notifyDownloadEachAsJobContent="handlerPopupNotifyDownloadEachAsJobContent"
            @popup:notifyClosed="showJobDownloadModal = false"
        />
        <WeatherReportPopupView
            :showModal="showWeatherModal"
            @popup:getWeatherReport="handlerGetWeatherReport"
            @popup:notifyClosed="showWeatherModal=false"
        />
        <moveLogPagePopupView
            :showModal="showlogPageModal"
            @popup:moveLogPageClicked="handlerMoveLogPage"
            @popup:notifyClosed="showlogPageModal=false"
        />
        <moveMaterPagePopupView
            :showModal="showMasterPageModal"
            @popup:moveMasterPageClicked="handlerMoveMasterPage"
            @popup:notifyClosed="showMasterPageModal=false"
        />
    </div>
</template>

<script>
import uuidv4 from 'uuid/v4';
import Vue from "vue";
import { mapState, mapGetters, mapActions } from 'vuex';

import { RepositoryFactory } from '@/repositories/RepositoryFactory';
const JobRepository = RepositoryFactory.get('job');
const SpeakerRepository = RepositoryFactory.get('speaker');
const TtsRepository = RepositoryFactory.get('tts');
const DMZRepository = RepositoryFactory.get('dmz');

import JobSavePopupView from '../popup/JobSavePopupView';
import JobNewPopupView from '../popup/JobNewPopupView';
import JobListPopupView from '../popup/JobListPopupView';
import JobSendPopupView from '../popup/JobSendPopupView';
import JobDownloadPopupView from '../popup/JobDownloadPopupView';
import WeatherReportPopupView from '../popup/WeatherReportPopupView';
import moveLogPagePopupView from '../popup/moveLogPagePopupView';
import moveMaterPagePopupView from '../popup/moveMasterPagePopupView'
import Axios from 'axios';
import TTSEditTextarea from '@/components/common/TTSEditTextarea';

import router from '../../routes/index'

let loadingConfig = {
    loader: 'dots',  
    color: '#4bc6fe',
    backgroundColor: '#000000',
    width: 128,
    height: 128,
    opacity: 0.8,
    zIndex: 999,
}


export default {
    components: {
        JobSavePopupView, 
        JobNewPopupView, 
        JobListPopupView,
        JobSendPopupView, 
        JobDownloadPopupView,
        WeatherReportPopupView,
        moveLogPagePopupView,
        moveMaterPagePopupView
    },
    data() {
        return {
            masterUser : this.$store.state.isMaster,
            showJobSaveModal: false,
            showJobNewModal: false,
            showJobListModal: false,
            showJobSendModal: false,
            showJobDownloadModal: false,
            showWeatherModal: false,
            showlogPageModal: false,
            showMasterPageModal: false,
            fullPage: true
        }
    },
    computed: {
        ...mapState('job', {
            jobId: 'jobId',
            jobTitle: 'jobTitle',
            jobSpeakers: 'jobSpeakers',
            deletedJobSpeakers: 'deletedJobSpeakers',
            jobScripts: 'jobScripts',
            deletedJobScripts: 'deletedJobScripts',
            jobList: 'jobList',
            isgetWeatherReport: 'isgetWeatherReport'

        }),
        ...mapState('dmz', {
            userCategoryList: 'userCategoryList',
            jobKind: 'jobKind',
            itemCode: 'itemCode',
            selectedCategory: 'selectedCategory',
            selectedCategoryId: 'selectedCategoryId',
            selectedChannel: 'selectedChannel',
            selectedDate: 'selectedDate',
            selectedTitle: 'selectedTitle'
        }),
    },

    methods: {
        
        ...mapActions(["logout"]),

        ...mapActions('job', {
            setJobList: 'setJobList',                   // JOB List 조회

            setJobContent: 'setJobContent',             // JOB Content 저장
            clearJobContent: 'clearJobContent',         // JOB Content 초기화

            setJobSpeakers: 'setJobSpeakers',           // JOB Speaker List 저장
            addJobSpeaker: 'addJobSpeaker',             // JOB Speaker Row ADD
            clearDeletedJobSpeakers: 'clearDeletedJobSpeakers', // JOB Speaker candidate Row 초기화

            setJobScripts: 'setJobScripts',             // JOB Script List 저장
            setFakeJobScript: 'setFakeJobScript',       // JOB Script Dummy ADD(신규 작성 경우)
            clearDeletedJobScripts: 'clearDeletedJobScripts', // JOB Script candidate Row 초기화
            setisgetWeatherReport: 'setisgetWeatherReport'
        }),

        ...mapActions('job', {
            setJobTitle: 'setJobTitle',
            clearJobTitle: 'clearJobTitle',     
        }),

        ...mapActions('speaker', {
            clearSelectedSpeakerIndex: 'clearSelectedSpeakerIndex',     // 화자 선택 사항 초기화 처리
        }),

        ...mapActions('player', {
            clearCursor: 'clearCursor',                 // Cursor 초기화,
            forceTrackStop: 'forceTrackStop',           // Player 강제 정지
        }),
       ...mapActions('dmz', {
            setJobKind: 'setJobKind',
            setUserCategoryList: 'setUserCategoryList',
            clearSelectedCategory: 'clearSelectedCategory',
            clearSelectedCategoryId: 'clearSelectedCategoryId',
            clearSelectedChannel: 'clearSelectedChannel',
            clearSelectedDate: 'clearSelectedDate',
            clearSelectedTitle: 'clearSelectedTitle',
            clearItemCode: 'clearItemCode',            
        }),
        ...mapActions({
            callWeatherReport: 'callWeatherReport',
        }),
        master() {
            this.showMasterPageModal = true;
        },
        getLogClicked(){
            //router.push({name: "LogTableView"})
            this.showlogPageModal = true;
        },
        async getUserCategoryList() {
          let dmzUserId = {
            userId: this.$store.state.loginUser
          }
          let loader = Vue.$loading.show(loadingConfig);
          let {data} = await DMZRepository.getUserCategoryList(dmzUserId).catch((error)=>{
                console.log(error);
                alert('DMZ SERVER ERROR\n 폐쇄망을 확인하세요');
                loader.hide();
          });
          loader.hide();

          return data;
        },
        jobSaveClicked () {
            this.clearSelectedSpeakerIndex();
            this.showJobSaveModal = true;
        },
        getWeatherClicked() {
            this.showWeatherModal = true;
        },
        async jobListLoadClicked () {
            try {
                this.clearSelectedSpeakerIndex();
                const userId = this.$store.state.loginUser
                const { data } = await JobRepository.jobListByUserId(userId);

                if(data.length > 0) {
                    await this.setJobList(data);
                    this.showJobListModal = true;
                } else {
                    alert("저장된 작업이 없습니다.");
                }
            }catch(e) {
                alert("작업 리스트 조회 중 오류가 발생했습니다.");
            }
        },
        jobNewClicked() {
            this.clearSelectedSpeakerIndex();
            this.showJobNewModal = true;
        },
        async handlerGetWeatherReport(){
            let loader = Vue.$loading.show(loadingConfig);
            await this.setisgetWeatherReport(true);
            await this.handlerPopupNotifyNewJobContent();
            await this.setisgetWeatherReport(false);
            loader.hide();
        },
        handlerMoveLogPage(){
            router.push({name: "LogTableView"})
        },
        handlerMoveMasterPage(){
            if(!this.$store.state.isMaster){
                alert("마스터계정이 아닙니다.")
            }else{
                router.push({name: "masterView"})
            }
        },
        jobDownloadClicked() {
            this.clearJobTitle();
            this.clearSelectedSpeakerIndex();
            this.showJobDownloadModal = true;
        },
        async jobSendCliked(){
            this.clearSelectedSpeakerIndex();
            this.clearSelectedCategory();
            this.clearSelectedCategoryId();
            this.clearSelectedChannel();
            this.clearSelectedDate();
            this.clearSelectedTitle();
            this.clearItemCode();
            this.clearJobTitle();
            if($('#form-send2')[0])$('#form-send2')[0].reset();
            if($('#form-send')[0])$('#form-send')[0].reset();    

            let userCategoryObject = await this.getUserCategoryList();
            let userCategotyInfo = userCategoryObject.getUserCategoryListResult.category.cxCategoryInfo;
            await this.setUserCategoryList(userCategotyInfo);
            // console.log(this.userCategoryList)
            this.showJobSendModal = true;  
        },
        // POPUP (JOB 작업 보내기)의 보내기 Callback 처리
        async handlerPopupNotifySendAsJobContent() {
            let loader = Vue.$loading.show(loadingConfig);
            try {
                let jobContent = {
                    jobTitle: this.jobTitle,                    // 작업 제목
                    speakers: this.jobSpeakers,                 // 선택한 화자 리스트
                    deletedSpeakers: this.deletedJobSpeakers,   // 삭제한 화자 리스트(DB 저장 데이터 한해)
                    scripts: this.jobScripts,                   // 작성한 스크립트 리스트
                    deletedScripts: this.deletedJobScripts,     // 삭제할 스크립트 리스트
                    userId: this.$store.state.loginUser,
                    destination: {
                        kind: this.jobKind,
                        channel: this.selectedChannel,
                        date: this.selectedDate,
                        categoryCode: this.selectedCategory,
                        categoryId: this.selectedCategoryId,
                        // title: this.selectedTitle,
                        itemCode: this.itemCode
                    }
                }
                if(this.jobKind == "IN"){ 
                    jobContent.destination.title = this.jobTitle; 
                    jobContent.destination.itemCode = "IN";
                }
                else { jobContent.destination.title = this.selectedTitle; }

                let {data} = await TtsRepository.checkItemCode(jobContent).catch((error)=>{
                    loader.hide();
                });
                let exist = data.getAssetByItemCodeResult.header.resultCode;
                let result = -99;
                if(exist == 0 && this.jobKind != "IN"){
                    if(confirm('해당 파일이 이미 존재합니다.\n 기존 파일을 삭제 후 진행 하시겠습니까?')){
                        result = await TtsRepository.sendTTS(jobContent).catch((error)=>{
                            loader.hide();
                        });
                    }   
                }else{
                    result = await TtsRepository.sendTTS(jobContent).catch((error)=>{
                        loader.hide();
                    });;
                }

                if(result == -99){}
                else if(result.data.createProgramResult.resultCode == 0) {
                    alert("보내기가 완료되었습니다.")
                }
                else{
                    alert("보내는중 오류가 발생했습니다.");
                }

                loader.hide();
                // console.log(jobContent);
            } catch (e) {
                loader.hide();
                alert("보내는중 오류가 발생했습니다.");
            }
        },

        // POPUP 다운로드 Callback 처리
        async handlerPopupNotifyDownloadAsJobContent() {
            let loader = Vue.$loading.show(loadingConfig);
            try {
                let jobContent = {
                    jobTitle: this.jobTitle,                    // 작업 제목
                    speakers: this.jobSpeakers,                 // 선택한 화자 리스트
                    deletedSpeakers: this.deletedJobSpeakers,   // 삭제한 화자 리스트(DB 저장 데이터 한해)
                    scripts: this.jobScripts,                   // 작성한 스크립트 리스트
                    deletedScripts: this.deletedJobScripts,     // 삭제할 스크립트 리스트
                    userId: this.$store.state.loginUser,
                }
                let result = await TtsRepository.downloadTTS(jobContent).catch((error)=>{
                    alert("다운로드중 오류가 발생했습니다.");
                    loader.hide();
                });;;
                const url = window.URL.createObjectURL(new Blob([result.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download',  this.jobTitle + '.wav');
                link.click();                  
                loader.hide();
            } catch (e) {
                alert("다운로드중 오류가 발생했습니다.");
                loader.hide();
            }
            // console.log(jobContent);
        },
        // POPUP 개별 다운로드 Callback 처리
        async handlerPopupNotifyDownloadEachAsJobContent() {
            let loader = Vue.$loading.show(loadingConfig);
            try {
                let jobContent = {
                    jobTitle: this.jobTitle,                    // 작업 제목
                    speakers: this.jobSpeakers,                 // 선택한 화자 리스트
                    deletedSpeakers: this.deletedJobSpeakers,   // 삭제한 화자 리스트(DB 저장 데이터 한해)
                    scripts: this.jobScripts,                   // 작성한 스크립트 리스트
                    deletedScripts: this.deletedJobScripts,     // 삭제할 스크립트 리스트
                    userId: this.$store.state.loginUser,
                }
                let result = await TtsRepository.downloadEachTTS(jobContent).catch((error)=>{
                    alert("다운로드중 오류가 발생했습니다.");
                    loader.hide();
                });;
                const url = window.URL.createObjectURL(new Blob([result.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download',  this.jobTitle + '.zip');
                link.click();
                loader.hide();
            } catch (e) {
                alert("다운로드중 오류가 발생했습니다.");
                loader.hide();
            }
            // console.log(jobContent);
        },
        // POPUP (JOB 작업저장)의 저장 Callback 처리
        async handlerPopupNotifySaveAsJobContent() {
            try {
                let jobContent = {
                    jobTitle: this.jobTitle,                    // 작업 제목
                    speakers: this.jobSpeakers,                 // 선택한 화자 리스트
                    deletedSpeakers: this.deletedJobSpeakers,   // 삭제한 화자 리스트(DB 저장 데이터 한해)
                    scripts: this.jobScripts,                   // 작성한 스크립트 리스트
                    deletedScripts: this.deletedJobScripts,     // 삭제할 스크립트 리스트
                    userId: this.$store.state.loginUser,        // 유저 아이
                }

                console.log("jobContent", jobContent)
                //await JobRepository.updateJobContent(this.jobId, jobContent);
                await JobRepository.updateJobContent(uuidv4(), jobContent);
                this.clearDeletedJobSpeakers();
                this.clearDeletedJobScripts();
                alert("작업 저장이 완료 되었습니다.")
            }catch(e) {
                alert("작업 저장중 오류가 발생했습니다.");
            }  
        },

        // POPUP (JOB 불러오기)의 JOB  선택 후 row Index Callback 처리
        async handlerPopupNotifyJobSelectionRowIndex(index) {
            try {
                const {jobId} = this.jobList[index];
                const {data} = await JobRepository.getJobContent(jobId);
                
                // 플레이어 정지, 커서 초기화
                this.forceTrackStop();
                this.clearCursor();
                // JOB 데이터 불러오기 후 store 저장처리(jobId, jobTitle, jobSpeakers, jobScripts);
                this.setJobContent(data);
            }catch(e) {
                alert("작업 조회 중 오류가 발생했습니다.");
            }  
        },

        async getDefaultSpeaker() {
            const {data} = await SpeakerRepository.defaultSpeaker();
            return data;
        },

        // POPUP (JOB 새작업)의 새작업 Callback 처리
        async handlerPopupNotifyNewJobContent() {
            // 커서 초기화
            await this.clearCursor();

            // 새작업 Job Content 초기화(jobId, jobTitle, jobSpeakers, jobScripts)
            await this.clearJobContent();
            await this.addJobSpeaker(await this.getDefaultSpeaker());
            this.setFakeJobScript();
        }
    },
}
</script>

<style lang="scss" scoped>
@import '~styles/font-awesome';
@import '~styles/animate';
@import '~styles/speakers';
.jobbar {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border: 0;
}
.jobbar > li {
    margin: 4px;
}
.jobbar > li > a {
  color: #a7b1c2;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 5px;
}
.jobbar.jobbar-right {
    float:right;
}
.jobbar.jobbar-right > li > a {
  color: inherit;
}
.jobbar > li.active > a {
  color: #ffffff;
}
</style>
