<template>
    <div>
       <img alt="image" :class="computedClasses" :src="require(`@/assets/images/speaker/${imgUrl}`)" :style="this.setCircleBorderColor(this.index)"> <!-- "~@/assets/images/speaker/" -->
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'SpeakerFace',
    props : {
        imgUrl : {
            type: String,
            required: true
        }, sizeLg : {
            type : Boolean,
            required: false
        }, index : {
            type : Number,
            required: true
        }, disabledCircleBorderColor : {
            type : Boolean,
            default: false,
        }
    },
    computed: {
        ...mapGetters('speaker', {
            getPalette: 'getPalette'
        }),
        computedClasses() {
            return {
                'circle-border' : !this.disabledCircleBorderColor,
                'img-circle-r80'  : this.sizeLg,
                'img-lg' : this.sizeLg,
                'img-circle-r70'  : !this.sizeLg,
                'img-slg' : !this.sizeLg,
            }
        }
        
    },
    methods : {
        setCircleBorderColor(index) {
            if(this.disabledCircleBorderColor) return;
            return {
                "border-color" : this.getPalette(index)
            }
        },
    },
    data() {
      return { 
         FaceStyle : {
             "border-color" : this.borderColor
         }
      }
    }
};
</script>