<template>
   <div class="row border-bottom block">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

        </nav>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'EditHomeHeader',
    data() {
      return { }
    }, methods: {
        show(evt) {
            console.log($(evt.currentTarget).attr("src"));
        }
    }
};
</script>

<style lang="scss" scoped>
@import '~styles/font-awesome';
@import '~styles/animate';
@import '~styles/speakers';
</style>