<template>
    <span class="create-button" @click="btnNewScriptClicked">
        <i class="fa fa-plus"></i>
   </span>
</template>

<script>
import Vue from "vue";
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    //script module store
    ...mapState('job', {
      jobScripts: 'jobScripts',     // JOB Script List
      jobSpeakers: 'jobSpeakers',   // JOB Speaker List
    }),

    //speaker module store
    ...mapState('speaker', {
        selectedSpeakerIndex : 'selectedSpeakerIndex',  // 선택된 화자 index(미선택시 -1, 선택시 0....n)
    }),
    
  },
  methods: {
    ...mapActions('job', {
          insertAtCreateScript : 'insertAtCreateScript',                  // 신규 스크립트 생성 처리(alt+enter) - Action caller 
    }),
    btnNewScriptClicked() {
      // 1. 해당 스크립트의 화자를 기본으로 스크립트를 할당하며,
      // 2. 만약 선택된 화자가 있는경우 선택된 화자로 할당
      // 3. 최대 스크립트 개수를 49개로 설정
      if(this.jobScripts.length>=49){
        alert("더이상 만들 수 없습니다")
      }else{
        const vm = this;
        const { speakerId, voiceName } = this.jobSpeakers[this.jobSpeakers.length -1];
        let addScript = {'speakerId' : speakerId, 'voiceName' : voiceName };
        let changeSpeakerId, changeVoiceName;
        if(this.selectedSpeakerIndex > -1) {
            const changeSpeaker = this.jobSpeakers[this.selectedSpeakerIndex];
            changeSpeakerId = changeSpeaker.speakerId;
            changeVoiceName = changeSpeaker.voiceName;
            addScript = {'speakerId' : changeSpeakerId, 'voiceName' : changeVoiceName };
        }

        const insertIndex = this.jobScripts.length;
        this.insertAtCreateScript({index : insertIndex,  data : addScript})
      }
    }
  },

}
</script>

<style lang="scss" scoped>
@import '~styles/font-awesome';
.create-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  background: #FE9616;
  border: 3px solid white;
  cursor:pointer;
}
</style>