<template>
  <textarea :class="{ 'ttsInput' : true, 'active' : highlight }"
    :style="computedStyles"
    v-model="val"
    ref="text"
    @focus="resize"
    @mouseup="textSelected($event)"
    @keydown="keyDownEvented($event)"
    placeholder="목소리를 입히고 싶은 컨텐츠의 문장을 입력해주세요."
    rows="1"
    :maxlength = "800"
  ></textarea>
</template>
<script>

import {debounce} from '@/utils/eventUtils';
//import { mapActions } from 'vuex';
import Vue from "vue";
import { mapState, mapGetters, mapActions } from 'vuex'
import { RepositoryFactory } from '@/repositories/RepositoryFactory'
import store from '@/store/index'
const JobRepository = RepositoryFactory.get('job');

let loadingConfig = {
    loader: 'dots',  
    color: '#4bc6fe',
    backgroundColor: '#000000',
    width: 128,
    height: 128,
    opacity: 0.8,
    zIndex: 999,
}

export default {
  name: 'TextareaAutosize',
  props: {
    value: {
      type: [String, Number],
      default: ''
    },
    autosize: {
      type: Boolean,
      default: true
    },
    minHeight: {
      type: [Number],
      'default': null
    },
    maxHeight: {
      type: [Number],
      'default': null
    },
    important: {
      type: [Boolean, Array],
      default: false
    },
    minWidth: {
      type: [String],
      'default': null
    },
    rowIdx: {
        type:[Number],
        'default' : -1
    },
    highlight : {
      type : [Boolean],
      default : false
    }
  },
  data () {
    return {
      test: 10000,
      val: null,
      maxHeightScroll: false,
      height: 'auto',
    }
  },
  computed: {
    ...mapState('job', {
      jobScripts: 'jobScripts',     // JOB Script List
      jobSpeakers: 'jobSpeakers',   // JOB Speaker List
      isgetWeatherReport: 'isgetWeatherReport'

    }),
    //speaker module store
    ...mapState('speaker', {
        selectedSpeakerIndex : 'selectedSpeakerIndex',  // 선택된 화자 index(미선택시 -1, 선택시 0....n)
    }),
    computedStyles () {
      if (!this.autosize) return {}
      return {
        resize: !this.isResizeImportant ? 'none' : 'none !important',
        height: this.height,
        overflow: this.maxHeightScroll ? 'auto' : (!this.isOverflowImportant ? 'hidden' : 'hidden !important'),
      }
    },
    isResizeImportant () {
      const imp = this.important
      return imp === true || (Array.isArray(imp) && imp.includes('resize'))
    },
    isOverflowImportant () {
      const imp = this.important
      return imp === true || (Array.isArray(imp) && imp.includes('overflow'))
    },
    isHeightImportant () {
      const imp = this.important
      return imp === true || (Array.isArray(imp) && imp.includes('height'))
    }
  },
  watch: {
    value (val) {
      this.val = val
    },
    minHeight () {
      this.$nextTick(this.resize)
    },
    maxHeight () {
      this.$nextTick(this.resize)
    },
    autosize (val) {
      if (val) this.resize()
    },
    minWidth () {
        this.$nextTick(this.resize)
    }
  },
  methods: {
    ...mapActions('job', {
       insertAtCreateScript : 'insertAtCreateScript',
    }),
    btnNewScriptClicked() {
      // 1. 해당 스크립트의 화자를 기본으로 스크립트를 할당하며,
      // 2. 만약 선택된 화자가 있는경우 선택된 화자로 할당
      const vm = this;
      const { speakerId, voiceName } = this.jobSpeakers[this.jobSpeakers.length -1];
      let addScript = {'speakerId' : speakerId, 'voiceName' : voiceName };
      let changeSpeakerId, changeVoiceName;
      if(this.selectedSpeakerIndex > -1) {
          const changeSpeaker = this.jobSpeakers[this.selectedSpeakerIndex];
          changeSpeakerId = changeSpeaker.speakerId;
          changeVoiceName = changeSpeaker.voiceName;
          addScript = {'speakerId' : changeSpeakerId, 'voiceName' : changeVoiceName };
      }

      const insertIndex = this.jobScripts.length;
      this.insertAtCreateScript({index : insertIndex,  data : addScript})
    },
    resize () {
      const important = this.isHeightImportant ? 'important' : ''
      this.height = `auto${important ? ' !important' : ''}`
      this.$nextTick(() => {
        const outerHeight = parseInt(window.getComputedStyle(this.$el).height, 10);
        const diff = outerHeight - this.$el.clientHeight;
        let contentHeight = this.$el.scrollHeight + diff;
        if (this.minHeight) {
          contentHeight = contentHeight < this.minHeight ? this.minHeight : contentHeight
        }
        if (this.maxHeight) {
          if (contentHeight > this.maxHeight) {
            contentHeight = this.maxHeight
            this.maxHeightScroll = true
          } else {
            this.maxHeightScroll = false
          }
        }
        const heightVal = contentHeight + 'px'
        this.height = `${heightVal}${important ? ' !important' : ''}`
        if(this.minWidth) {
            this.width = this.minWidth;
        }
      })
      return this
    },
    setFocus(selectionRange) {
      const element = this.$refs.text;
      if(selectionRange !== undefined) {
        element.setSelectionRange(selectionRange, selectionRange);
      }
      element.focus();
    },
    keyDownEvented(evt) {
      const ENTER_KEY = 13;
      const BACKSPACE_KEY = 8;
      if(evt.keyCode === ENTER_KEY && evt.altKey) {
        this.$emit('keydown:altEnter');
        evt.preventDefault();
      } else if (evt.keyCode === ENTER_KEY && evt.ctrlKey) {
          let original = this.val;
          const element = evt.currentTarget;
          let startPosition = element.selectionStart;
          let endPosition = element.selectionEnd;

          let leftContent = original.substring(0, startPosition).TTSTrim();
          let rightContent = (startPosition > 0 ? original.substring(startPosition) : original.substring(0, startPosition)).TTSTrim();

          let splitContent = [];
          if(startPosition > 0) {
            splitContent.push({ 'type' : 'left', 'scriptText' : leftContent });
            splitContent.push({ 'type' : 'right', 'scriptText' : rightContent, focus : true });
          } else {
            splitContent.push({ 'type' : 'right', 'scriptText' : rightContent, focus : true });
          }

          splitContent = splitContent.filter(row=> row.scriptText !== undefined && row.scriptText.length > 0);
          this.$emit('text:cursorSplit', { original, splitContent, rowIdx:this.rowIdx});
          evt.preventDefault();
      } else if (evt.keyCode === ENTER_KEY) {
        
        this.$emit('keydown:enter', evt);
      } else if (evt.keyCode === BACKSPACE_KEY) {
        const element = evt.currentTarget;
        let startPosition = element.selectionStart;
        this.$emit('keydown:backspace', { evt, position : startPosition });
      }
    },
    textSelected (evt) {
        const element = evt.currentTarget;
        let selection = window.getSelection();
        if(evt.ctrlKey && (selection && selection.toString().length >= 1)){  
            let startPos = element.selectionStart;
            let endPos = element.selectionEnd;
            let original = this.val;
            let leftContent = original.substring(0, startPos).TTSTrim();
            let selectionContent = selection.toString().TTSTrim();
            let rightContent = original.substring(endPos, original.length).TTSTrim();

            let splitContent = [];
            splitContent.push({ 'type' : 'left', 'scriptText' : leftContent });
            splitContent.push({ 'type' : 'select', 'scriptText' : selectionContent, focus : true});
            splitContent.push({ 'type' : 'right', 'scriptText' : rightContent });
            splitContent = splitContent.filter(row=> row.scriptText !== undefined && row.scriptText.length > 0);
            this.$emit('text:selectionSplit', { original, leftContent, selectionContent, rightContent, splitContent, rowIdx:this.rowIdx });
        }
    },

    async getMeteorologicalInfo(){
      let loader = Vue.$loading.show(loadingConfig);
      const {data} = await await JobRepository.getMeteorologicalApi()
      this.val = data;
      loader.hide();
    },

    textSplit(text) {
      var startIndex = 0
      var index = 0
      var splitText = true
      if(text.length>300){
        var firstText = text.substring(startIndex, startIndex+300)
        firstText = text.substring(startIndex, firstText.lastIndexOf('@'))

        this.$parent.handlerInputChanged(firstText.replace(/@/gi, ""))
        startIndex = startIndex+firstText.length+1

        index = 1
      }else{
        this.$parent.handlerInputChanged(text)
        splitText = false
      }


      while(splitText){
        this.btnNewScriptClicked()
        if(startIndex+300 < text.length){
          var subText = text.substring(startIndex, startIndex+300)
          if(subText.indexOf("@") > -1){
            this.$parent.handlerInputChangedForIndex(text.substring(startIndex, startIndex + subText.lastIndexOf('@')).trim().replace(/@/gi, ""), index);
            startIndex = startIndex+subText.lastIndexOf("@")+1
          }else if(subText.indexOf(".") > -1){
            this.$parent.handlerInputChangedForIndex(text.substring(startIndex, startIndex + subText.lastIndexOf('.')).trim().replace(/@/gi, ""), index);
            startIndex = startIndex+subText.lastIndexOf(".")+1
          }else{
            this.$parent.handlerInputChangedForIndex(text.substring(startIndex, startIndex + subText.lastIndexOf(',')).trim().replace(/@/gi, ""), index);
            startIndex = startIndex+subText.lastIndexOf(",")+1
          }
        }else{
          this.$parent.handlerInputChangedForIndex(text.substring(startIndex, text.length-1).trim().replace(/@/gi, ""), index);
          splitText=false
        }
        
        index = index +1
      }
    }
  },

  async created () {  //처음 시작할때 스크립트 넣어둘 부분... 

    if (!String.prototype.TTSTrim) {
      String.prototype.TTSTrim = function () {
        return this.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, '');
      };
    }
    const vm = this;

    if(this.value === "" && this.rowIdx === 0 && this.isgetWeatherReport == true){

      await this.getMeteorologicalInfo()

      this.textSplit(this.val)

    }else{
      this.val = this.value
    }
    this.$watch('val', debounce(function() {
      vm.$nextTick(vm.resize)
      vm.$emit('input', vm.val)
    },500));
  },
  mounted () {
    this.resize()
  }
}
</script>

<style lang="scss" scoped>
.ttsInput {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  position:relative;
  z-index:2;
  float:left;
  width:100%;
  height: 30px;
  margin-bottom:0;
  display: table-cell;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  box-shadow: none;
}
textarea { line-height: 1; font-size: 12px; border: none; margin: 0; padding: 0;}

.active{
    -webkit-animation:active 1.5s ease-in-out infinite alternate;
    -moz-animation:active 1.5s ease-in-out infinite alternate;
    animation:active 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes active{
    0% { background-color: unset}
    100% {background-color: #1ab394c4}
}
@-moz-keyframes active{
    0% { background-color: unset}
    100% {background-color: #1ab394c4}
}
@keyframes active{
    0% { background-color: unset}
    100% {background-color: #1ab394c4}
}
</style>