
.pace-done .nav-header {
  transition: all 0.4s;
}
.navbar-default {
  background-color: #2f4050;
  border-color: #2f4050;
}
.navbar-static-side {
  z-index: 2001;
  position: absolute;
  width: 180px;
  height: 100vh;
}
.pace-done .navbar-static-side,
.pace-done .nav-header,
.pace-done .wrapper-content,
.pace-done footer,
.pace-done .choiceSpeakerWrapper,
.pace-done .scriptWrapper {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

div.wrapper-content {
  position: inherit;
  margin: 0 0 0 185px;
  min-height: 100vh;
  padding: 0 15px;
  position: relative !important;
}
div.wrapper-content .padding {
  padding: 20px 10px 40px;
}

/* Clear floats after the columns */
div.wrapper-content:after {
  content: "";
  display: table;
  clear: both;
}

.block {
  display: block;
}

.gray-bg, .bg-muted {
  background-color: #f3f3f4;
}
.white-bg {
  background-color: #ffffff;
}

.border-bottom {
  border-bottom: 1px solid #e7eaec !important;
}

.navbar-fixed-top,
.navbar-static-top {
  background: #f3f3f4;
}
.navbar {
  border: 0;
}
.navbar-header {
  float:left;
}
.navbar-right {
  float:right!important;
  margin-right:-15px;
}

.row:before, .navbar:before, .nav:before {
  display: table;
  content: " ";
}

/* PANELS */
.page-heading {
  border-top: 0;
  padding: 0 10px 20px 10px;
}
.panel-heading h1,
.panel-heading h2 {
  margin-bottom: 5px;
}

.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 40px;
}
.body-small .navbar-top-links li:last-child {
  margin-right: 0;
}

.nav > li > a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
  position:relative;
  display:block;
}

.nav > li > a i {
  margin-right: 6px;
}

.navbar-top-links li a {
  padding: 20px 10px;
  min-height: 50px;
}
.nav.navbar-right > li > a {
  color: #999c9e;
}
.nav.navbar-top-links a {
  font-size: 14px;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 2px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 15px 7px;
  min-height: 48px;
}

.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  font-weight: 600;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  clear: both;
}
.feed-element:first-child {
  margin-top: 0;
}
.feed-element {
  padding-bottom: 2px;
}
.feed-element,
.media-body {
  overflow: hidden;
}
.feed-element > .pull-left {
  margin-right: 10px;
}
.feed-element img.img-circle,
.dropdown-messages-box img.img-circle {
  width: 35px;
  height: 35px;
}
.feed-element .well {
  border: 1px solid #e7eaec;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px 20px;
  font-size: 11px;
  line-height: 16px;
}
.feed-element .actions {
  margin-top: 10px;
}
.feed-element .photos {
  margin: 10px 0;
}

.input-group-wrapper {
  position:relative;
  display:table;
  border-collapse:separate
}

.input-group-btn {
  display:table-cell
}

.input-group-wrapper .form-control {
  position:relative;
  z-index:2;
  float:left;
  width:100%;
  margin-bottom:0;
  display: table-cell;
}

.form-control, .single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  box-shadow: none;
}

.form-control:focus, .single-line:focus {
  border-color: #1ab394;
}

.input-group-addon {
  background-color: #fff;
  border: 1px solid #E5E6E7;
  border-radius: 1px;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 6px 12px;
  text-align: center;
}
.input-group-addon.right-btn {
  width:1%;
  white-space:nowrap;
  vertical-align:middle;
  display: table-cell;
}