<template>
  <div>
      <footer>
            <div class="row">
                <div class="col">
                    <p>Copyright &copy; 2019 </p>
                </div>
            </div>
        </footer> 
  </div>
</template>