<template>
    <div id="loginPage" class="mx-auto" style="width: 500px;">
        <div class="modal-header">
            <h2 class="modal-title">Log In</h2>
        </div>
        <form @submit="login({
            email: uid,
            password: password
        })" >
            <div class="form-group mx-sm-3 mb-2">
                <br>
                <label for="loginId">Id</label>
                <input class="form-control" id="loginId" placeholder="Enter your ID" v-model="uid"/><br>
                <label for="loginPw">Password</label>
                <input class="form-control" id="loginPw" placeholder="Enter your password" v-model="password" type="password"/><br><br>
                <button class="btn btn-primary" type="submit">Login</button>&nbsp;
                <span><router-link to="/signUp">회원가입</router-link></span>
            </div>
        </form>
    </div>
</template>

<script>
import axios from 'axios';
import Vue from 'vue';
import { mapState, mapActions } from 'vuex';
import router from '../routes/index';

import { closest, getElementAlias, hasClass } from '@/utils/elementUtils';

const API_BASE_URL = process.env.API_BASE_URL;

export default {
    name: 'Login',
    data: ()=>({
        uid: '',
        password: ''
    }),
    computed:{
        ...mapState(["isLogin"])
    },
    methods :{
        ...mapActions(["login"]),

        singUp(){
            router.push({name: "signUpView"})
        }

    }
}
</script>

<style lang="scss" scoped></style>