<template>
  <b-container fluid>

    <!-- Main table element -->
    <b-table
    style="color:aliceblue;"
      show-empty
      small
      stacked="md"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filterIncludedFields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
    >
      <template v-slot:cell(actions)="row">
        <b-button size="sm" @click="confrim(row.item, row.index, $event.target)" class="mr-1">
          승인
        </b-button>
        <b-button size="sm" @click="reject(row.item, row.index, $event.target)" class="mr-1">
          거절
        </b-button>
      </template>

      <template v-slot:row-details="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
          </ul>
        </b-card>
      </template>
    </b-table>

    <b-button @click="jobfinish()">완료</b-button>

    <!-- Info modal -->
    <b-modal :id="infoModal.id" :title="infoModal.title" hide-footer ref="my-modal"> 
        <b-button @click="registUserCancel()" @hide="resetInfoModal">취소</b-button>
        <b-button @click="registUserConfirm()" @hide="resetInfoModal" v-if="confirmOrReject === 'confirm'">승인</b-button>
        <b-button @click="registUserReject()" @hide="resetInfoModal" v-if="confirmOrReject === 'reject'">거절</b-button>
    </b-modal>
  </b-container>
</template>

<style>

.text-white{
  color:aliceblue;
}

</style>

<script>
  import axios from 'axios';
  import router from '../routes/index';

  const API_BASE_URL = process.env.API_BASE_URL;
  
  export default {
    data() {
      return {
        items: [
        ],
        fields: [
            {key: 'NAME', label: 'NAME', sortable: true, sortDirection: 'desc' },
            {key: 'USER_ID', label: 'ID'},
            {key: 'CODE', label: 'CODE'},
            {key: 'AUTH', label: 'AUTH'},
            {key: 'actions', label: 'Actions' }
        ],
        totalRows: 1,
        currentPage: 1,
        perPage: 5,
        pageOptions: [5, 10, 15],
        sortBy: '',
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        filterOn: [],
        infoModal: {
          id: 'info-modal',
          title: '',
          content: '',
          item: ''
        },
        confirmOrReject: 'confirm'
      }
    },
    created() {
        this.getItems()
    },
    computed: {
      sortOptions() {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return { text: f.label, value: f.key }
          })
      }
    },
    mounted() {
      // Set the initial number of items
      this.totalRows = this.items.length
    },
    methods: {
      getItems(){
          this.items=[]
           axios.post([API_BASE_URL, '/login/waitingUser'].join('')).then( (res) => {
            var list=[]
            res.data.forEach(function(value, index){   
                list.push({NAME: value.name, USER_ID:value.userId, CODE:value.code, AUTH:value.auth, ID:value.id, USER_PW:value.userPw})
            });
            this.items = list
        });
      },
      confrim(item) {
        this.infoModal.title = `${item.NAME}계정 생성을 승인하시겠습니까`
        this.infoModal.item = item
        this.$refs['my-modal'].show()
        this.confirmOrReject = 'confirm'
      },
      reject(item){
        this.infoModal.title = `${item.NAME}계정 생성을 승인하시겠습니까`
        this.infoModal.item = item
        this.$refs['my-modal'].show()
        this.confirmOrReject = 'reject'
      },
      resetInfoModal() {
        this.$refs['my-modal'].hide()
        this.infoModal.title = ''
        this.infoModal.content = ''
      },
      onFiltered(filteredItems) {
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      registUserCancel(){
          this.resetInfoModal()
      },

      registUserConfirm(){
           axios.post([API_BASE_URL, '/login/registConfirm'].join(''), {
               id: this.infoModal.item.ID,
               name: this.infoModal.item.NAME,
               code: this.infoModal.item.CODE,
               auth: this.infoModal.item.AUTH,
               userId: this.infoModal.item.USER_ID,
               userPw: this.infoModal.item.USER_PW
           }).then( (res) => {
             (res.data === "SUCCESS")? this.getItems():alert("계정생성 실패")
           });

          this.resetInfoModal()
      },

      registUserReject(){
          axios.post([API_BASE_URL, '/login/registReject'].join(''), {
               id: this.infoModal.item.ID,
               name: this.infoModal.item.NAME,
               code: this.infoModal.item.CODE,
               auth: this.infoModal.item.AUTH,
               userId: this.infoModal.item.USER_ID,
               userPw: this.infoModal.item.USER_PW
           }).then( (res) => {
             (res.data === "SUCCESS")? this.getItems():alert("계정생성 실패")
           });

           this.resetInfoModal()
      },

      jobfinish(){
        router.push({name : "MakeHomeView"}) 
      }
    }
  }
</script>