<template>
    <div class="sign-up">
        <p>회원가입</p>
        <input type="text" v-model="userId" placeholder="id"><br><br>
        <input type="password" v-model="userPw" placeholder="password"><br><br>
        <input type="password" v-model="pw_check" placeholder="password check"><br><br>
        <input type="text" v-model="code" placeholder="code"><br><br>
        <input type="text" v-model="name" placeholder="name"><br><br>
        <button v-on:click="signUp">submit</button>
        <span><router-link to="/login">로그인</router-link>으로 돌아가기</span>
    </div>
</template>

<script>
import axios from 'axios';
import router from '../routes/index'

const API_BASE_URL = process.env.API_BASE_URL;

export default {
    name: 'signUp',
    data(){
        return{
            userId: '',
            userPw: '',
            pw_check: '',
            code: '',
            name: ''
        }
    },
    methods:{
        signUp() {
            if(this.userId==='' || this.userPw==='' || this.pw_check==='' || this.code==='' || this.name===''){
                alert('마저 입력해 주세요.')
            }
            else if(this.userPw != this.pw_check){
                alert('비밀번호를 다시 확인해주세요')
            }else{
                axios.post([API_BASE_URL, '/login/idCheck'].join(''), {
                    userId: this.userId
                }).then( (res) => {
                     if(res.data == false){
                         alert("이미 존재하는 ID입니다.")
                     }else{
                         axios.post([API_BASE_URL, '/login/regist'].join(''), {
                             userId: this.userId,
                             userPw: this.userPw,
                             code: this.code,
                             name: this.name
                         }).then( (res) => {
                            alert('완료되었습니다.')
                            router.push({name : "loginView"})
                         });
                     }
                });
            
            }
        }
    }
}
</script>