<template>
    <div :class="computedClasses">
        <div class="speaker-row" @click="selectionChoiceSpeakerClicked">
            <div class="speaker-image">
                <SpeakerFace :imgUrl="speaker.imgUrl" :sizeLg="true" :index="index" ></SpeakerFace>
            </div>
            <div class="speaker-fields">
                <h5 class="speaker-name">{{speaker.speakerNm}}</h5>
            </div>
            <div class="speaker-fields">
                <small>{{speaker.speakerDesc}}</small>
            </div>      
        </div>
    
        <button @click.prevent="deleteChoiceSpeakerClicked" class="speaker-button speaker-delete">
            <i class="material-icons" aria-hidden="true">close</i>
        </button>
    </div>
</template>

<script>
import Vue from "vue";
import { mapState, mapGetters, mapActions } from 'vuex'

import SpeakerFace from '@/components/speaker/SpeakerFace';

import VuejsDialog from 'vuejs-dialog';
import VuejsDialogMixin from 'vuejs-dialog/dist/vuejs-dialog-mixin.min.js'; // only needed in custom components

// include the default style
import 'vuejs-dialog/dist/vuejs-dialog.min.css';
Vue.use(VuejsDialog);

import { RepositoryFactory } from '@/repositories/RepositoryFactory';
const JobRepository = RepositoryFactory.get('job');

export default {
    name: 'ChoiceSpeakerItem',
    components : { SpeakerFace },
    props : {
        speaker : {
            type : Object,
            required: true
        },
        index : {
            type : Number
        },
        assignSepaker : {
            type : Number
        },
        selected : {
          type : Boolean,
          default : false,
        }
    },
    computed: {
      ...mapState('job', {
          jobId: 'jobId',
          jobSpeakers: 'jobSpeakers',
          jobScripts: 'jobScripts',
      }),
      computedClasses() {
        return {
            speaker : true,
            selected : this.selected
          } 
      }
    },
    methods: {
        ...mapActions('job', {
          removeAtJobSpeaker: 'removeAtJobSpeaker',         // 화자 삭제
          setReallocationScripts: 'setReallocationScripts', // 화자 재할당
        }),

        getReAllocationSpeaker() {
          const prevSpeaker = this.jobSpeakers[this.index -1];
          const nextSpeaker = this.jobSpeakers[this.index + 1];
          return this.index == 0 ? nextSpeaker : prevSpeaker;
        },
        deleteChoiceSpeakerClicked() {
          const vm = this;
          if(this.jobSpeakers.length == 1) {
            alert('더 이상 삭제할 수 없습니다.');
          } else { 
            const currSpeaker = this.jobSpeakers[this.index];
            const currSpeakerNm = currSpeaker.speakerNm;
            const assignSpeaker = this.getReAllocationSpeaker();
            let targetScripts = this.jobScripts.filter(script => script.speakerId === currSpeaker.speakerId);
            if(targetScripts.length == 0) {
              this.removeAtJobSpeaker(this.index);
            }else {
              const {speakerId, speakerNm, voiceName} = assignSpeaker;

              let confirmMessage = `${currSpeakerNm} 화자를 삭제하시면 ${targetScripts.length}건이  ${speakerNm} 화자로 변경됩니다.\n변경하시겠습니까?`;
              this.$dialog.confirm(confirmMessage).then(() => {
                this.setReallocationScripts({targetScripts, speakerId, speakerNm, voiceName}).then(() => {
                  vm.removeAtJobSpeaker(this.index);
                });
                this.$nextTick(() => {
                  targetScripts.forEach((targetScript, index) => {
                    const rowIndex = vm.jobScripts.findIndex(script => script.scriptId === targetScript.scriptId);
                    const jobScript = vm.jobScripts[rowIndex];
                    JobRepository.updateJobScript(vm.jobId, jobScript.scriptId, jobScript);
                  });
                })
                  //
              });
            }
          }
          return false;
        },
        selectionChoiceSpeakerClicked() {
          const selectionIndex = this.selected ? -1 : this.index;
          this.$emit("cb:notifySelectionChoiceSpeaker", {selectionIndex: selectionIndex, index: this.index, id: this.speaker.speakerId, borderColor: this.borderColor });
        }
    }
};
</script>

<style lang="scss" scoped>

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.speaker {
  margin: 7px auto;
  color: white;
  align-items: center;
  border-radius: .3em;
  border: .0625em solid mix(#fff, #abbaab, 10%);
  display: flex;
  flex-direction: column;
  max-width: 18em;
  position: relative;
  width: 160px;
  cursor: pointer;

  >:hover {
    background-color: #62636d;
  }
  >:active {
    background-color: #62636d;
    box-shadow: 0 0 0 .0825em mix(#fff, #abbaab, 0%) inset; 
  }
}
.selected {
  background-color: #88636d;
}

.speaker-row {
  padding: 1.2em 1em;
  position: relative;
  text-align: center;
  width: 100%;
}

.speaker-fields {
  display: flex;
  justify-content: center;
}

.speaker-image {
  margin: auto;
  max-width: ((128px/16px) * 1em);
}
.card-avatar {
  display: block;
  height: auto;
  width: 100%;
}

.speaker-name {
  font-size: 1.2em;
  margin-bottom: .2em;
}

.speaker-button {
  display: none;
}

.speaker:hover .speaker-button {
  align-items: center;
  border: 0;
  cursor: pointer;
  display: flex;
  user-select: none;  
  
  > .material-icons {
    font-size: inherit;
  }
}

.speaker-delete {
  background: transparent;
  border-radius: .2em;
  color: #bbb;
  padding: .25em;
  position: absolute;
  right: .5em;
  top: .5em;
  
  &:hover,
  &:focus {
    background: #eee;
    color: coral;
  }
}
</style>