<template>
    <div>
        <table style="color:aliceblue;">
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>작업</th>
                <th>로그</th>
                <th>날짜</th>
            </tr>
            <tr v-for="p in paginatedData" :key="p.id">
                <td>{{ p.userId }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.code }}</td>
                <td>{{ p.content }}</td>
                <td>{{ p.createdAt }}</td>
            </tr>
        </table>
        <div class="btn-cover">
      <button :disabled="pageNum === 0" @click="prevPage" class="page-btn">
        이전
      </button>
      <span class="page-count">{{ pageNum + 1 }} / {{ pageCount }} 페이지</span>
      <button :disabled="pageNum >= pageCount - 1" @click="nextPage" class="page-btn">
        다음
      </button>
    </div>
    </div>
</template>

<script>
export default {
    name: 'paginated-list',
    data(){
        return{
            pageNum: 0
        }
    },
    props:{
       listArray: {
        type: Array,
        required: true
       },
        pageSize: {
      type: Number,
      required: false,
      default: 10
        }
    },
    methods: {
    nextPage () {
      this.pageNum += 1;
    },
    prevPage () {
      this.pageNum -= 1;
    }
  },
  computed: {
    pageCount () {
      let listLeng = this.listArray.length,
          listSize = this.pageSize,
          page = Math.floor(listLeng / listSize);
      if (listLeng % listSize > 0) page += 1;
      
      /*
      아니면 page = Math.floor((listLeng - 1) / listSize) + 1;
      이런식으로 if 문 없이 고칠 수도 있다!
      */
      return page;
    },
    paginatedData () {
      const start = this.pageNum * this.pageSize,
            end = start + this.pageSize;
      return this.listArray.slice(start, end);
    }
  }
}
</script>

<style>
table {
  width: 100%;
  border-collapse: collapse;
}
table th {
  font-size: 1.2rem;
}
table tr {
  height: 2rem;
  text-align: center;
  border-bottom: 1px solid #EEEEEE;
}
table tr:first-of-type {
  border-top: 2px solid #EEEEEE;
}
table tr td {
  padding: 1rem 0;
  font-size: 1.1rem;
}
.btn-cover {
  margin-top: 1.5rem;
  text-align: center;
}
.btn-cover .page-btn {
  width: 5rem;
  height: 2rem;
  letter-spacing: 0.5px;
}
.btn-cover .page-count {
  padding: 0 1rem;
}
.text-white{
  color:aliceblue;
}
</style>